@import base


.container
	width: 100%
	max-width: 1200px
	padding: 0 15px
	margin: 0 auto

	+r(1200)
		max-width: 992px

	+r(992)
		max-width: 768px

	+r(767)
		max-width: 576px

	+r(576)
		max-width: 480px


.header
	position: fixed
	top: 0
	right: 0
	left: 0
	background-color: #ffffff
	z-index: 1000
	box-shadow: 0 0 5px 0 rgba(#000, .5)

	&__container
		+between

	&__logo
		display: block
		width: 215px

		img
			width: 100%
			height: auto

	&__nav
		ul
			+between

		li
			margin-right: 55px

			&:last-child
				margin-right: 0

		a
			position: relative
			display: block
			padding: 33px 0
			font-size: 18px
			font-weight: 400
			color: $text

			&:hover,
			&:focus
				color: $accent
				
				&::before
					width: 100%

			&::before
				content: ''
				position: absolute
				top: 0
				display: block
				height: 3px
				width: 0
				background-color: $accent
				+transition


.hero
	margin-top: 91px

	img
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		min-width: 100%
		min-height: 100%
		z-index: -1

	&__slide
		padding-top: 240px
		padding-bottom: 310px
		overflow: hidden
		text-align: center

	&__title
		color: #ffffff
		font-weight: 800
		font-size: 65px
		margin-bottom: 30px

	&__subtitle
		font-size: 20px
		color: #ffffff
		text-transform: uppercase

	&__btn
		height: 70px
		margin: 50px auto 0
		font-size: 18px
		font-weight: 600
		width: 240px

	&__pagination
		bottom: 50px !important

		span
			width: 17px
			height: 17px
			border-radius: 50%
			border: 1px solid rgba(#fff, 0.5)
			background-color: transparent
			opacity: 1
			margin: 0 6px !important
			+transition

		.swiper-pagination-bullet-active
			background-color: $accent
			border-color: $accent

	&__button
		position: absolute
		top: 50%
		transform: translate(0, -50%)
		height: 100px
		width: 100px
		border-radius: 50%
		background-color: #ffffff
		z-index: 100
		+transition

		&:hover
			background-color: $accent

			&::before
				+transition
				border-color: #fff

		&::after
			display: none
		
		&::before
			content: ''
			position: absolute
			top: 50%
			display: block
			width: 13px
			height: 13px
			border-top: 1px solid #262626
			border-right: 1px solid #262626

	&__prev
		left: -50px

		&::before
			left: 65px
			transform: translate(0, -35%) rotate(-135deg)

	&__next
		right: -50px

		&::before
			left: 25px
			transform: translate(0, -35%) rotate(45deg)


.title
	font-weight: 700
	font-size: 42px
	margin-bottom: 25px
	color: $title


.about
	padding: 135px 0

	&__container
		+between

	&__desc
		width: 48%

	&__title
		@extend .title

	&__text
		color: #3f3f3f
		margin-bottom: 15px

		&:last-child
			margin-bottom: 0

	&__img
		width: 48%

		img
			width: 100%
			max-width: 540px


.services
	+cover
	background-image: url(../img/dest/services__bg.jpg)
	padding: 135px 0

	&__title
		@extend .title
		text-align: center
		margin-bottom: 30px

	&__subtitle
		text-align: center
		margin-bottom: 50px

	&__wrap
		+between
		align-items: flex-start

		&_list
			width: 45%

		&_item
			display: flex
			align-items: center
			margin-bottom: 15px

			&:last-child
				margin-bottom: 0

		p
			color: $title
		
		img
			margin-right: 15px


.engineering
	padding-top: 115px
	padding-bottom: 130px

	&__title
		@extend .title
		margin-bottom: 70px

	&__list
		display: flex
		flex-wrap: wrap

		&_item
			display: flex
			align-items: flex-start
			width: 24%
			margin-bottom: 50px
			
			p
				font-size: 14px
				font-weight: 600

			img
				margin-right: 15px
				margin-top: 5px
		




.footer
	height: 500px

	&__container


